In [1]:
import pandas as pd
import matplotlib as plt

In [3]:
body_df = pd.read_csv('../data/body.csv')
body_df

     height  weight
0     188.3    85.8
1     176.2    78.0
2     175.9    75.6
3     181.1    85.1
4     182.6    82.3
..      ...     ...
495   172.0    70.0
496   169.6    83.0
497   163.3    68.6
498   185.7    95.6
499   167.7    76.7

[500 rows x 2 columns]

In [4]:
body_df['height'].var() #키 분산 깂 variance

52.92330276553103

In [5]:
body_df['height'].std() #키 표준편차 값 standard deviation

7.2748403945056435

In [6]:
body_df.describe()

          height      weight
count  500.00000  500.000000
mean   173.26280   75.542600
std      7.27484    7.303482
min    151.30000   54.100000
25%    168.50000   70.775000
50%    172.95000   75.300000
75%    178.22500   80.650000
max    195.80000   95.600000

In [7]:
height = [177, 183, 160, 164]
height.var()

AttributeError: 'list' object has no attribute 'var'