In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

exam_df = pd.read_csv('../data/exam.csv')

In [3]:
exam_df

     math_score  science_score  english_score second_lang
0          45.0           68.0           68.0     Chinese
1          80.0           44.0           78.0    Japanese
2          37.5           50.0           78.0     Chinese
3          57.5           56.0           78.0     Russian
4          45.0           68.0           82.0     Chinese
..          ...            ...            ...         ...
195        45.0           50.0           72.0      German
196        52.5           44.0           82.0      German
197        57.5           54.0           84.0     Chinese
198        50.0           54.0           74.0      French
199        65.0           54.0           84.0    Japanese

[200 rows x 4 columns]

In [4]:
exam_df.describe()

       math_score  science_score  english_score
count  200.000000      200.00000     200.000000
mean    52.830000       54.98750      77.547500
std     12.961912        9.42178       9.165507
min     15.000000       20.00000      25.000000
25%     45.000000       48.00000      72.000000
50%     52.500000       56.00000      78.000000
75%     60.000000       62.00000      84.000000
max     95.000000       90.00000      94.000000

In [10]:
q1 = exam_df['math_score'].quantile(0.25)
q3 = exam_df['math_score'].quantile(0.75)
IQR = q3 - q1
IQR

NameError: name 'iqr' is not defined

In [12]:
lower_whisker = q1 - 1.5 * IQR
upper_whisker = q3 + 1.5 * IQR
lower_whisker, upper_whisker

(22.5, 82.5)

In [8]:
q3_E = exam_df['english_score'].quantile(0.75)
q3_E

84.0

In [9]:
q1_s = exam_df['science_score'].quantile(0.25)
q3_s = exam_df['science_score'].quantile(0.75)
IQR_s = q3_s - q1_s
IQR_s

14.0

In [13]:
lower_whisker_s = q1_s - 1.5 * IQR_s
upper_whisker_s = q3_s + 1.5 * IQR_s
lower_whisker_s, upper_whisker_s

(27.0, 83.0)

In [15]:
sec_lang = exam_df['second_lang'].mode()
sec_lang

0    Chinese
Name: second_lang, dtype: object