In [1]:
import numpy as np

### 네 국가의 2000년부터 2005년까지의 GDP로 보는 2차원 array 인덱싱과 슬라이싱

In [2]:
gdp_array = np.array([
    [12257, 11561, 13165, 14673, 16496, 19403],  # 대한민국
    [39169, 34406, 32821, 35387, 38299, 37813],  # 일본
    [959, 1053, 1149, 1289, 1509, 1753],         # 중국
    [36335, 37133, 38023, 39496, 41713, 44115]   # 미국
])
gdp_array

array([[12257, 11561, 13165, 14673, 16496, 19403],
       [39169, 34406, 32821, 35387, 38299, 37813],
       [  959,  1053,  1149,  1289,  1509,  1753],
       [36335, 37133, 38023, 39496, 41713, 44115]])

In [3]:
#일본 값을 받아오고 싶을 때
gdp_array[1]

array([39169, 34406, 32821, 35387, 38299, 37813])

In [4]:
#일본의 2003년 값을 받아오고 싶을 때
gdp_array[1][3]

35387

In [5]:
gdp_array[1, 3] #같은 대괄호 안에 열과 행을 입력해줘도 됨

35387

In [6]:
gdp_array[1:3, 2:5] #일본부터~중국까지, 2002년~2004년까지

array([[32821, 35387, 38299],
       [ 1149,  1289,  1509]])

In [7]:
gdp_array[1:3, 2:] #일본부터~중국까지, 2002년~끝까지

array([[32821, 35387, 38299, 37813],
       [ 1149,  1289,  1509,  1753]])

In [8]:
gdp_array[:, 2:5] #모든 국가 2002년부터 2004년까지

array([[13165, 14673, 16496],
       [32821, 35387, 38299],
       [ 1149,  1289,  1509],
       [38023, 39496, 41713]])