In [10]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'category': ['skirt', 'sweater', 'coat', 'jeans'],
    'quantity': [10, 15, 6, 11],
    'price': [30000, 60000, 95000, 35000]
})
df

  category  quantity  price
0    skirt        10  30000
1  sweater        15  60000
2     coat         6  95000
3    jeans        11  35000

In [3]:
df['quantity']

0    10
1    15
2     6
3    11
Name: quantity, dtype: int64

In [4]:
type(df['quantity'])

pandas.core.series.Series

In [5]:
df['quantity'].mean()

10.5

In [6]:
df['quantity'].sum()

42

In [7]:
df['quantity'].max()

15

In [8]:
df['quantity'].min()

6

In [9]:
df['quantity'] * df['price']

0    300000
1    900000
2    570000
3    385000
dtype: int64

In [11]:
dict_list = [
    {'category': 'skirt', 'quantity': 10, 'price': 30000},
    {'category': 'sweater', 'quantity': 15, 'price': 60000},
    {'category': 'coat', 'quantity': 6, 'price': 95000},
    {'category': 'jeans', 'quantity': 11, 'price': 35000}
]

df4 = pd.DataFrame(dict_list)
df4

  category  quantity  price
0    skirt        10  30000
1  sweater        15  60000
2     coat         6  95000
3    jeans        11  35000